<link rel="stylesheet" href="../static/css/admin/ProfileCard.css">


<div class="card-container">
    <span class="pro">PRO</span>
    <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
    <h3>That Ass</h3>
    <h6>#Floripa</h6>
    <!-- <p>User interface designer & <br/> front-end developer</p> -->
    <div class="buttons">
        <button class="primary">
            Edit Profile
        </button>
    </div>
    <div class="skills">
        <h6>Favorites of Top 10</h6>
        <ul>
            <li>Solana</li>
            <li>Ethereum</li>
            <li>Bitcoin</li>
        </ul>
    </div>
</div>